<%= form_for(@type_personne) do |f| %>
  <% if @type_personne.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type_personne.errors.count, "error") %> prohibited this type_personne from being saved:</h2>

      <ul>
      <% @type_personne.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :libelle %><br />
    <%= f.text_field :libelle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
