<%= form_for(@programme) do |f| %>
  <% if @programme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@programme.errors.count, "error") %> prohibited this programme from being saved:</h2>

      <ul>
      <% @programme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr class = "entete">
      <th> <%= f.label :debut %></th>
    </tr>
    <tr class = "table1">
      <td> <%= f.datetime_select :debut %> </td>
    </tr>
  </table>
  <br/>
  <table>
    <tr class = "entete">
      <th> <%= f.label :fin %></th>
    </tr>
    <tr class = "table1">
      <td> <%= f.datetime_select :fin %> </td>
    </tr>
  </table>
  <br/>
  <table>
    <tr class = "entete">
      <th> <%= f.label :libelle %></th>
      <th> <%= f.label :chaine_id %></th>
    </tr>
    <tr class = "table1">
      <td> <%= f.text_field :libelle %> </td>
      <td> <%= f.collection_select :chaine_id, Chaine.order("numero").all, :id, :nom %> </td>
    </tr>
  </table>
  <br/>
  <%= f.submit :class=>"btn btn-primary btn-chaine" %>
<% end %>
<%= link_to 'Interface administrateur', { :controller=>:admin }, :class=>"btn btn-primary btn-chaine" %>  