<h1>Liste des programmes</h1>
<% compteur = 0 %>
<% programmes = Programme.order(:debut).all() %>
<% dateBase = programmes[0].debut.advance(:days => -1) %>
<% programmes.each do |programme| %>
<% compteur = compteur + 1 %>
  <% if dateBase.strftime('%d/%m/%Y') != programme.debut.strftime('%d/%m/%Y') %>
    </table>
    <% compteur = 1 %>
    <h2> <%= programme.debut.strftime('%A %d %B %Y') %> </h1>
    <table>
      <tr class = "entete">
        <th>Chaîne</th>
        <th>Debut</th>
        <th>Fin</th>
        <th>Libelle</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr class = "table<%= compteur%2 %>">
        <td class = "petitTd"><%= programme.chaine.nom %></td>
        <td class = "petitTd"><%= programme.debut.strftime('%d/%m/%Y - %H:%M') %></td>
        <td class = "petitTd"><%= programme.fin.strftime('%d/%m/%Y - %H:%M') %></td>
        <td class = "grandTd"><%= programme.libelle %></td>
        <td><%= link_to 'Afficher', programme, :class=>"btn btn-primary btn-attribute" %></td>
        <td><%= link_to 'Modifier', edit_programme_path(programme), :class=>"btn btn-primary btn-modifier" %></td>
        <td><%= link_to 'Supprimer', programme, confirm: 'Are you sure?', method: :delete, :class=>"btn btn-primary btn-supprimer" %></td>
      </tr>
    <% dateBase = programme.debut %>
  <% else %>
      <tr class = "table<%= compteur%2 %>">
        <td class = "petitTd"><%= programme.chaine.nom %></td>        
        <td class = "petitTd"><%= programme.debut.strftime('%d/%m/%Y - %H:%M') %></td>
        <td class = "petitTd"><%= programme.fin.strftime('%d/%m/%Y - %H:%M') %></td>
        <td class = "grandTd"><%= programme.libelle %></td>
        <td><%= link_to 'Afficher', programme, :class=>"btn btn-primary btn-attribute" %></td>
        <td><%= link_to 'Modifier', edit_programme_path(programme), :class=>"btn btn-primary btn-modifier" %></td>
        <td><%= link_to 'Supprimer', programme, confirm: 'Are you sure?', method: :delete, :class=>"btn btn-primary btn-supprimer" %></td>
      </tr>
  <% end %>
<% end %>
</table>
<br />

<%= link_to 'Nouveau programme', new_programme_path, :class=>"btn btn-primary btn-large" %>
