<h1> Enregistrement du programme : <%= @enregistrement.programme.libelle %> </h1>
<h2> Début : <%= @enregistrement.marge_avant %> minutes avant <%= @enregistrement.programme.debut.strftime('%H:%M') %> </h2>
<h2> Fin : <%= @enregistrement.marge_apres %> minutes après <%= @enregistrement.programme.fin.strftime('%H:%M') %> </h2>
<%= link_to 'Revenir à l\'accueil', { :controller=>:home }, :class=>"btn btn-primary btn-chaine" %>  
